.register-card {
  max-width: 20rem;
  margin-top: 10rem;
}

.register-card-group {
  display: flex;
  justify-content: center;
}

.register-button {
  margin-top: 1rem;
}

.register-left {
  margin-left: 4rem;
}
